# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
project.xcworkspace/
xcuserdata/
Section-Specific/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Dependency managers
Pods/
Carthage/Build/
vendor/
